# Datos generados
datos_procesados/

# Python
__pycache__/
*.py[cod]
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Entornos virtuales
.venv/
venv/
ENV/
env/

# VS Code
.vscode/
!.vscode/settings.json

# SO
.DS_Store
Thumbs.db